body {
  display: -ms-grid;
  display: grid;
  background: black;
  font-family: "Playfair Display", serif;
}

canvas {
  position: fixed;
  z-index: -2;
}

/*@mixin grid ($display, $col1, $col2) {
    display: $display;
    grid-template-columns: $col1, $col2;
}*/
#header {
  /* @include grid(grid, 20%, auto)*/
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 25% auto;
  grid-template-columns: 25% auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  border: 5px solid black;
}

#logo {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 25% auto;
  grid-template-rows: 25% auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 100%;
}

h1 {
  font-size: 4rem;
  text-decoration: underline;
}

.fa {
  padding: 1rem;
  font-size: 30px;
  width: 50px;
  text-decoration: none;
  margin: 5px 2px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

.fa-linkedin {
  background: #007bb5;
  color: white;
}

.fa-telegram {
  background: #30a4da;
  color: white;
}

.fa:hover {
  opacity: 0.7;
}

ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

ul li {
  width: 100%;
}

a {
  text-align: center;
  margin: 1rem;
}

.content {
  text-align: start;
  padding: 10rem 0 10rem 5rem;
}

h2 {
  font-size: 2rem;
}

p {
  font-size: 1.5rem;
  padding-top: 1rem;
}

#proyects {
  text-align: center;
  background-color: transparent;
}

#proyects .cards {
  /*    @include grid(grid, 1fr, 1fr)*/
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
}

#proyects .card {
  margin: 1rem;
  border: black solid;
}