body {
  display: -ms-grid;
  display: grid;
  background: black;
  font-family: "Playfair Display", serif;
  color: black;
}
body #header {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 25% auto;
  grid-template-columns: 25% auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  border-bottom: 2px solid rgba(128, 128, 128, 0.5);
}
body #header #logo {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 25% auto;
  grid-template-rows: 25% auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 100%;
}
body #header #logo h1 {
  font-size: 4rem;
  text-decoration: underline;
}
body #header #logo ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}
body #header #logo ul li {
  width: 100%;
}
body #header #logo ul a {
  text-align: center;
  margin: 1rem;
}
body #header #logo ul .fa {
  padding: 1rem;
  text-decoration: none;
  margin: 5px 2px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  color: white;
}
body #header #logo ul .fa-linkedin {
  background: #007bb5;
}
body #header #logo ul .fa-github {
  background: black;
}
body #header #logo ul .fa:hover {
  opacity: 0.7;
}
body #header .content {
  text-align: start;
  padding: 10rem 0 10rem 5rem;
}
body #proyects {
  text-align: center;
  background-color: transparent;
}
body #proyects h2 {
  font-size: 2rem;
  line-height: 1;
  padding-top: 1rem;
  text-decoration: underline;
}
body #proyects .cards {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
}
body #proyects .cards .card {
  margin: 2rem 1rem;
}
body #proyects .cards .card .img {
  background: transparent;
}
body #proyects .cards .card p {
  font-size: 1.5rem;
  padding-top: 1rem;
}

canvas {
  position: fixed;
  z-index: -2;
}

@media (max-width: 768px) {
  #header {
    -ms-grid-columns: auto;
    grid-template-columns: auto;
    -ms-grid-rows: 40% auto;
    grid-template-rows: 40% auto;
  }
  #header > *:nth-child(1) {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
  }
  #header > *:nth-child(2) {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
  }

  .fa {
    padding: 0.5;
  }

  h2 {
    font-size: 1.5rem;
  }

  p {
    font-size: 1rem;
  }
}