body {
    margin: 2rem;
    background: #1A1A2E;
    display: grid;
}

/*@mixin grid ($display, $col1, $col2) {
    display: $display;
    grid-template-columns: $col1, $col2;
}*/

#header {
    /* @include grid(grid, 20%, auto)*/
    display: grid;
    grid-template-columns: 20% auto;
    align-items: center;
    text-align: center;
}

h1 {
    font-size: 4rem;
}

nav a{
    padding-right: 1rem;
    font-size: 1.5rem;

}

.content  {
    text-align: start;
    padding: 10rem 0 10rem 5rem;
}
h2{
    font-size: 2rem;
}

p {
    font-size: 1.5rem;
    font-weight: 100;
}

#proyects {
    background-color: antiquewhite;
    text-align: center;
}

#proyects .cards{
/*    @include grid(grid, 1fr, 1fr)*/
    display: grid;
    grid-template-columns: 1fr 1fr;
}


#proyects .card {
    margin: 1rem;
    border: black solid;
}